<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Access-Control-Allow-Origin" content="*"/>
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script language="javascript">

        $(function () {
            $("#nav-menu li.hasc").mouseover(function (e) {
                $(this).siblings().find(".navbar-collapse").hide();
                $(this).find(".navbar-collapse").show().slideDown(300);
            }).mouseleave(function (e) {
                $(".navbar-collapse").slideUp(100);
            });
        });

    </script>
</head>
<body>
    <div class="main">
        <header>
            <nav>
                <div class="navbar-header">
                    <div class="logo">@Html.ActionLink("Joney's Zone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
                    <ul id="nav-menu" class="nav navbar-nav">
                        <li><span></span>@Html.ActionLink("Index", "Main", "Home")</li>
                        <li><span></span>@Html.ActionLink("About", "About", "Home")</li>
                        <li><span></span>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="hasc">
                            <span></span><a href="javascript:">Test Demo</a>
                            <ul class="navbar-collapse">
                                <li>@Html.ActionLink("Demo Uploader", "FilePreview", "Home", new { id = "alink_a", title = "test", @class = "txtCs" })</li>
                                <li>@Html.ActionLink("WebUploader", "WebUploader", "Home", new { id = "alink_b", title = "test", @class = "txtCs" })</li>
                                <li>@Html.ActionLink("FilesTreeView", "FilesTreeView", "Home", new { id = "alink_c", title = "test", @class = "txtCs" })</li>
                                <li>@Html.ActionLink("FlowWork", "FlowWork","Manage", new { id = "alink_c", title = "test", @class = "txtCs" })</li>
                            </ul>
                        </li>
                    </ul>
                    <p class="nav navbar-text navbar-right">Welcome，@User.Identity.Name!</p>
                    <div class="logoff">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="w_icon_logout"></span><span class="info_txt">[SignOut]</span></a>
                        }
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <footer>
            <div align="center" style="width:100%; margin:0 auto">
                <div style="text-align:center;margin:0; font:normal 14px/20px 'MicroSoft YaHei';height:30px;line-height:30px;">
                    <span style="width:300px;"><a href="#" target="_blank">深圳J软件公司</a><a href="#" target="_blank">（JSoft）</a></span>
                    <span>|</span>
                    <span style="color:#c0c0c0;">Copyright &copy;2013-@DateTime.Now.Year By <a href="@Url.Action("Index","Admin")">Joney</a> All Rights Reserved.</span>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
